accelerate
bertopic
gensim
hdbscan
imbalanced-learn
jupyter
matplotlib
numpy
optuna
pandas
peft
plotly
pyLDAvis
Sastrawi
scikit-learn
seaborn
sentence-transformers
sentencepiece
tensorflow
torch
transformers
umap-learn
wordcloud
itables
openai
